/*-----------------------------------------------------------------------------
    admin-skills
-----------------------------------------------------------------------------*/
.admin-skills {
  width: 280px;
  td {
    padding: .25em 1em;
  }
  &__name-col {

  }
  &__percent-col {
    width: 40%;
  }
  &__name {

  }
  &__input-text {
    margin-right: .5em;
  }
}

/*-----------------------------------------------------------------------------
    /admin-skills
-----------------------------------------------------------------------------*/