/*-----------------------------------------------------------------------------
    footer
-----------------------------------------------------------------------------*/
.footer {
  position: relative;
  z-index: 1;
  display: flex;
  color: #fff;
  flex: 0 0 auto;
  flex-wrap: wrap;
  &__section {
    position: relative;
    box-sizing: border-box;
    padding: 13px 15px;
    background: rgba(#373e42, .85);

    flex-basis: 100%;
    @include breakpoint($s2) {
      padding: 24px;
    }
    @include breakpoint($s4) {
      min-height: 147px;
    }
    &_1 {
      @include breakpoint($s2) {
        padding: 25px 24px;
        flex: 1 0 50%;
      }
      @include breakpoint($s3) {
        padding: 25px 30px;
        flex: 1 0 30%;
      }
    }
    &_2 {
      padding: 15px 15px 20px;

      @include breakpoint($s2) {
        padding: 25px 30px 27px;

        flex: 1 0 50%;
      }
      @include breakpoint($s3) {
        padding: 24px 10px 24px 29px;

        flex: 1 0 30%;
      }
    }
    &_3 {
      flex: 1 1 100%;
      @include breakpoint($s2) {
        padding: 23px 24px;
      }
      @include breakpoint($s3) {
        padding: 25px 30px;
        flex: 1 0 30%;
      }
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:after,
    &:before {
      position: absolute;
      right: 10px;
      left: 10px;
      height: 1px;
      content: '';
      background-color: rgba(#fff, .15);

      @include breakpoint($s2) {
        display: none;
      }
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
  &__text {
    margin: 0;
    text-align: center;
    font-weight: 300;

    @include breakpoint($s2) {
      text-align: left;
    }
  }
  &__navigation {
    margin-bottom: 12px;

    @include breakpoint($s2) {
      margin-bottom: 20px;
    }
  }
  &__social {
  }
  &__copyright {
    margin: 0;
    padding: 6px 0 12px;
    text-align: center;
    color: #fff;
    background-color: rgba($c7, .85);
    font-weight: 300;
    flex-basis: 100%;
    @include breakpoint($s2) {
      padding-bottom: 8px;
    }
  }
  &__author {
    font-style: normal;
    &:after {
      display: block;
      content: '';
      @include breakpoint($s2) {
        display: inline-block;
        margin: 0 .25em;
        content: '|';
      }
    }
  }
  &__fix {
    display: block;
  }
}

/*-----------------------------------------------------------------------------
    /footer
-----------------------------------------------------------------------------*/