/*-----------------------------------------------------------------------------
    main
-----------------------------------------------------------------------------*/
.main {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column wrap;
}

/*-----------------------------------------------------------------------------
    /main
-----------------------------------------------------------------------------*/