+navigation(menu).menu#js-menu
    .menu__bg.menu__bg_left
    .menu__bg.menu__bg_right
    .menu__button
        .menu-btn#js-open-menu-button
            input.menu-btn__checkbox#js-menu-checkbox(type='checkbox')
            label.menu-btn__l(for='js-menu-checkbox')
                span