.preloader#js-preloader
    .preloader__wrapper
        span.preloader__progress#js-preloader-progress 0
        svg.preloader__waves(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 80 95.113')
            g.preloader__wave.preloader__wave_1
                path(fill='none', stroke-miterlimit='10', d='M0 38.005c6.663 0 6.663 7.8 13.327 7.8 6.665 0 6.665-7.8 13.33-7.8 6.667 0 6.667 7.8 13.334 7.8s6.667-7.8 13.332-7.8c6.67 0 6.67 7.8 13.34 7.8s6.668-7.8 13.338-7.8')
            g.preloader__wave.preloader__wave_2
                path(fill='none', stroke-miterlimit='10', d='M0 61.684c6.663 0 6.663 7.8 13.327 7.8 6.665 0 6.665-7.8 13.33-7.8 6.667 0 6.667 7.8 13.334 7.8s6.667-7.8 13.332-7.8c6.67 0 6.67 7.8 13.34 7.8s6.668-7.8 13.338-7.8')
            g.preloader__wave.preloader__wave_3
                path(fill='none', stroke-miterlimit='10', d='M0 85.362c6.663 0 6.663 7.8 13.327 7.8 6.665 0 6.665-7.8 13.33-7.8 6.667 0 6.667 7.8 13.334 7.8s6.667-7.8 13.332-7.8c6.67 0 6.67 7.8 13.34 7.8s6.668-7.8 13.338-7.8')
