mixin navigation(items)
    nav&attributes(attributes)
        ul(class='#{attributes.class}__list')
            each href, name in items
                li(class='#{attributes.class}__item')
                    a(class='#{attributes.class}__link' href=href)= name
        if block
            block