/*-----------------------------------------------------------------------------
    about
-----------------------------------------------------------------------------*/
.about {
  @include breakpoint($s3) {
    display: flex;
    flex-flow: row wrap;
  }
  &__section {
    &_intro {
      padding: 20px 0 23px;
      background-color: $c1;

      @include breakpoint($s2) {
        padding: 43px 0 42px;
      }
      @include breakpoint($s3) {
        padding: 10px 0 23px;
        flex: 1 1 50%;
      }
      @include breakpoint($s4) {
      }
    }
    &_skills {
      padding: 23px 0 30px;

      @include breakpoint($s2) {
        padding: 42px 0 51px;
      }
      @include breakpoint($s3) {
        padding: 12px 0 20px;
        flex: 1 1 50%;
      }
    }
  }
  &__wrapper {
    &_intro {
      @include breakpoint($s3) {
        float: right;
        max-width: 443px;
        margin-right: 77px;
      }
      @include breakpoint($s4) {
        margin-right: 20px;
      }
    }
    &_skills {
      @include breakpoint($s3) {
        float: left;
        margin-left: 38px;
      }
    }
  }
  &__text {
    padding: 0 5px 0 10px;
    @include breakpoint($s2) {
      max-width: 473px;
      margin: auto;
      padding: 0;
    }
    @include breakpoint($s3) {
      max-width: 100%;
    }
  }
}

/*-----------------------------------------------------------------------------
    /about
-----------------------------------------------------------------------------*/