extends ../../layouts/admin

block title
  title Admin-Panel

block main
  #page-admin
  .admin-wrapper
    header.admin-header
      .admin-header__topline
        .admin-header__left
          span.admin-header__title Administration Panel
        .admin-header__right
          a.admin-header__back(href='./') Return to the site
      .admin-header__navigation
        +navigation(adminMenu).admin-navigation
    main.admin-tabs
      section.admin-tabs__item.js-tab#about
        include about
      section.admin-tabs__item.js-tab#blog
        include blog
      section.admin-tabs__item.js-tab#works
        include works
