span.admin-tabs__title.admin-tabs__title_1 Blog page
span.admin-tabs__title.admin-tabs__title_2 Add a note
form(action='/admin/post' method='POST').js-post-add-form
  input.admin-input-text(type='text' name='title' placeholder='Title')
  input.admin-input-text(type='text' name='date' placeholder='Date')
  textarea.admin-input-text.admin-input-text_textarea(type='text' name='text' placeholder='Content')
  input.admin-button(type='submit' value='Add')