span.admin-tabs__title.admin-tabs__title_1 My work page
span.admin-tabs__title.admin-tabs__title_2 Add work
form(action='/admin/work').js-work-add-form
  input.admin-input-text(type='text' name='name' placeholder='Name of project')
  input.admin-input-text(type='text' name='description' placeholder='Description')
  input.admin-input-text(type='text' name='link' placeholder='Link')
  label.admin-file Download pictures
    +iconsvg('file').admin-file__icon
    input.admin-file__input(type='file' name='image' value='')
  .admin-tabs__section
    input.admin-button(type='submit' value='Add')