footer.footer#footer
    .footer__section.footer__section_1
        p.footer__text.quote__text.quote This is my humble web site, which is some mirror of my life, here I express my point of view, describe my progress from a professional point of view and of course just think about different aspects of our life.
    .footer__section.footer__section_2
        .footer__navigation
            +navigation(menu).navigation
        .footer__social
            +social(social, 'footer').social
    .footer__section.footer__section_3
        +quote('Martin Golding') Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
    .footer__copyright #[cite.footer__author © Peretiatko Ihor] About Automation testing and not only about it | 2018