.about-intro
  +title('h2', 'about-header').title_1.about-intro__header About me
  figure.about-intro__img-wrapper
    img.about-intro__img(src='assets/img/photo.jpg' alt='Peretiatko Ihor')
  .about-intro__text.about__text
    +title('h2').title_2.about-intro__title Who am I
    p Need to write something and describe my like a person
    p The second line if I wanna add something
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat maxime minus quibusdam soluta. Dolores libero maiores nisi quaerat recusandae reprehenderit sequi. Aliquam aspernatur doloribus earum inventore laudantium, nemo recusandae tempore?