/*-----------------------------------------------------------------------------
    circle-progress
-----------------------------------------------------------------------------*/
.circle-progress {
  position: relative;

  display: block;

  opacity: 0;

  $bar-size: 110;
  $bar-thickness: 20;
  $circumference: ($bar-size - $bar-thickness) * 3.14159265359;
  &.visible {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &[data-percent='0'] .circle-progress__circle_fill {
    opacity: 0;
    stroke: none;
  }
  @for $i from 1 through 100 {
    &[data-percent='#{$i}'] .circle-progress__circle_fill {
      opacity: $i / 100;
      stroke-dashoffset: $circumference - ($circumference / 100) * $i * 1px;
    }
    @keyframes circle-progress-animation-#{$i} {
      0% {
        opacity: 0;
        stroke-dashoffset: $circumference;
      }
      33% {
        opacity: $i / 100;
      }
      100% {
        stroke-dashoffset: $circumference - ($circumference / 100) * $i * 1px;
      }
    }
  }
  &__svg {
    display: block;

    width: $bar-size * 1px;
    height: $bar-size * 1px;
    // +1px add extra pixel for anti-ailising either side
    padding: ($bar-thickness / 2) * 1px;
    transform: rotate(-90deg);
  }
  &__circle {
    fill: none;
    stroke-width: 20px;
    &_path {
      stroke: $c5;
    }
    &_fill {
      stroke: $c7;
      stroke-dasharray: $circumference * 1px;
    }
  }
  &__n {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    color: $c12;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
  }
}

@include breakpoint($s4) {
  .circle-progress {
    $bar-size: 120;
    $bar-thickness: 20;
    $circumference: ($bar-size - $bar-thickness) * 3.14159265359;
    @for $i from 1 through 100 {
      &[data-percent='#{$i}'] .circle-progress__circle_fill {
        opacity: $i / 100;

        stroke-dashoffset: $circumference - ($circumference / 100) * $i * 1px;
      }
      @keyframes circle-progress-animation-#{$i} {
        0% {
          opacity: 0;
          stroke-dashoffset: $circumference;
        }
        33% {
          opacity: $i / 100;
        }
        100% {
          stroke-dashoffset: $circumference - ($circumference / 100) * $i * 1px;
        }
      }
    }
    &__svg {
      width: $bar-size * 1px;
      height: $bar-size * 1px;
      padding: ($bar-thickness / 2) * 1px;
    }
    &__circle {
      &_fill {
        stroke-dasharray: $circumference * 1px;
      }
    }
  }
}

/*-----------------------------------------------------------------------------
    /circle-progress
-----------------------------------------------------------------------------*/