/*-----------------------------------------------------------------------------
    quote
-----------------------------------------------------------------------------*/
.quote {
  text-align: center;
  font-style: italic;
  @include breakpoint($s2) {
    text-align: left;
  }
  &__text {
    display: block;
    margin: 0;
    padding: 0;
    opacity: .5;
    font-weight: 300;

    @include breakpoint($s3) {
      line-height: 26px;
    }
  }
  &__author {
    display: block;
    opacity: .5;
    font-weight: 700;
    &:before {
      content: '— ';
      font-weight: 700;
      // display: inline-block;
    }
  }
}

/*-----------------------------------------------------------------------------
    /quote
-----------------------------------------------------------------------------*/