/*-----------------------------------------------------------------------------
    sidebar
-----------------------------------------------------------------------------*/
.sidebar {
  position: fixed;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: -270px;
  width: 270px;
  transition: all .35s;
  animation: hideSidebar .5s;
  background-color: $c15;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  @extend %clearfix;
  @include breakpoint($s3) {
    position: relative;
    left: auto;
    float: right;
    width: 300px;
    transition: none;
    animation-name: none;
    background-color: transparent;
  }
  @include breakpoint($s3) {
    width: 380px;
  }
  &_open {
    left: 0;
    animation: none;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);

    @include breakpoint($s3) {
      left: auto;
      box-shadow: none;
    }
  }
  &__toggle {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: -9px;
    display: block;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 50%;
    background-color: $c15;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);

    @include breakpoint($s3) {
      display: none;
    }
    &:hover, &:active {
      box-shadow: 3px 0 8px rgba(0, 0, 0, 0.5);
    }
  }
  &__wrapper {
    display: flex;
    overflow: auto;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    @include breakpoint($s4) {
      display: block;
      height: auto;
    }
  }
  &__nav {
    position: relative;
    z-index: 2;
    width: 100%;
    max-height: 100%;
    text-align: right;
    background-color: $c15;

    @include breakpoint($s3) {
      position: static;
      float: right;
      width: 364px;
      transform: none;
      background-color: transparent;
    }
    @include breakpoint($s4) {
      width: 285px;
    }
  }
  &__list {
    margin: 0;
    padding: 5% 10%;
    list-style-type: none;
    background-color: $c15;
    font-size: 16px;
    line-height: 26px;

    @include breakpoint($s3) {
      padding: 21px 0 0;
      background-color: transparent;
    }
  }
  &__item {
    margin-bottom: 30px;

    @include breakpoint($s3) {
      margin-bottom: 11px;
    }
    &:last-child {
      margin-bottom: 0;
    }

  }
  &__link {
    display: block;
    transition: all .35s;
    text-decoration: none;
    opacity: 0.7;
    color: #fff;

    @include breakpoint($s3) {
      padding: 8px 17px;
      opacity: 1;
      color: $c6;
      border-right: 3px solid transparent;
    }
    &:hover,
    &:active,
    &.active {
      opacity: 1;

      @include breakpoint($s3) {
        color: $c11;
        border-color: $c15;
        font-weight: 700;
      }
    }
  }
}

@keyframes hideSidebar {
  0% {
    left: 0;
  }
  100% {
    left: -90%;
  }
}

/*-----------------------------------------------------------------------------
    /sidebar
-----------------------------------------------------------------------------*/