.feedback
  +title('span').title_2.feedback__header Contact with me
  form.feedback__form
    input(type='text' name='name' placeholder='Name' required='').feedback__input-text
    input(type='email' name='email' placeholder='Email' required='').feedback__input-text
    textarea(type='text' name='message' placeholder='You message' required='').feedback__textarea
    input(type='submit' value='Send').feedback__button.feedback__button_submit
    input(type='reset' value='Clean').feedback__button.feedback__button_reset