include ../mixins/iconsvg
include ../mixins/social
include ../mixins/author-card
include ../mixins/header
include ../mixins/title
include ../mixins/circle-progress
include ../mixins/navigation
include ../mixins/quote

doctype html
html
  include ../partials/_head
  body.body
    include ../components/browsehappy
    include ../components/preloader
    main.main
      block main

    // - Connect Js
    block scripts
      include ../partials/_scripts
